:root {
  /* colors */
  --bg-color: #344955;
  --font-color: #deebef;
  --players: #B5C0D0;
  --index-btn-color: #E8751A;
  --index-btn-hover: #b95515;
  --index-btn-active: #ee8921;
  --game-board-btn: #97bdc9;
  --score-game-btn-font: #1c2930;

  /* fonts */
  --start-btn: "Seymour One", sans-serif;
  --player-font: "Pacifico", sans-serif;
  --X-O: "Montserrat", sans-serif;
  --default-font: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--default-font);
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/************ INDEX.HTML Styling ************/
.main-heading {
  color: var(--font-color);
  font-size: 4rem;
}

.register {
  margin-bottom: 12.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  align-items: center;
  gap: .7rem;
}

.user-input {
  width: 15rem;
  height: 2.3rem;
  font-size: .97rem;
  border-radius: .3rem;
  border: none;
  padding-left: .3rem;
  background-color: var(--players);
}

.user-input::placeholder {
  font-size: .95rem;
}

.input-label {
  color: var(--players);
  font-size: 2rem;
  font-family: var(--player-font);
}

.user-label-character {
  font-size: 2.5rem;
  font-family: var(--X-O);
  font-weight: 900;
}

.start-btn {
  padding: 1.25rem 3.13rem;
  border: none;
  border-radius: .5rem;
  margin-top: 2rem;
  font-family: var(--start-btn);
  font-size: 1.5rem;
  background-color: var(--index-btn-color);
  cursor: pointer;
  transition: all .15s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.start-btn:hover {
  background-color: var(--index-btn-hover);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transform: scale(1.05);
}

.start-btn:active {
  background-color: var(--index-btn-active);
}


/*********** GAME.HTML Style ************/
/* Scoreboard */
.scores {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.scoreboard {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.player-name {
  font-family: var(--player-font);
  font-size: 3rem;
  color: var(--players);
}

.player-sign {
  font-family: var(--X-O);
  font-size: 4rem;
  font-weight: 900;
  color: var(--players);
}

.score {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-weight: 500;
  color: var(--score-game-btn-font);
}

/* Game Board */
.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.square {
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--X-O);
  font-size: 10rem;
  font-weight: 800;
  border: none;
}

.square-1 {
  border-right: 8px solid var(--game-board-btn);
  border-bottom: 8px solid var(--game-board-btn);
}

.square-2 {
  border-right: 8px solid var(--game-board-btn);
  border-bottom: 8px solid var(--game-board-btn);
}

.square-3 {
  border-bottom: 8px solid var(--game-board-btn);
}

.square-4 {
  border-right: 8px solid var(--game-board-btn);
  border-bottom: 8px solid var(--game-board-btn);
}

.square-5 {
  border-bottom: 8px solid var(--game-board-btn);
  border-right: 8px solid var(--game-board-btn);
}

.square-6 {
  border-bottom: 8px solid var(--game-board-btn);
}

.square-7 {
  border-right: 8px solid var(--game-board-btn);
}

.square-8 {
  border-right: 8px solid var(--game-board-btn);
}

/* Game Buttons */
.buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.game-btn {
  border: none;
  width: 10rem;
  padding: .85rem 0;
  margin-bottom: 2rem;
  font-size: 1.22rem;
  border-radius: .5rem;
  background-color: var(--game-board-btn);
  color: var(--score-game-btn-font);
  cursor: pointer;
  transition: all .12s ease-in-out;
}

.game-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transform: scale(1.05);
}

.game-btn:active {
  background-color: var(--score-game-btn-font);
  color: var(--font-color);
}


/********* Footer *********/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 0;
}

.footer-link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1.15rem;
  transition: .15s ease-in;
}

.footer-link:hover {
  transform: scale(1.08);
}